In [1]:
import pandas as pd


df = pd.read_csv('data/StudentPerformanceFactors.csv')
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [3]:
type(df['Exam_Score'] )

pandas.core.series.Series

In [4]:
df[['Hours_Studied', 'Exam_Score', 'Gender']]

      Hours_Studied  Exam_Score  Gender
0                23          67    Male
1                19          61  Female
2                24          74    Male
3                29          71    Male
4                19          70  Female
...             ...         ...     ...
6602             25          68  Female
6603             23          69  Female
6604             20          68  Female
6605             10          68  Female
6606             15          64    Male

[6607 rows x 3 columns]

In [5]:
# Select only numeric columns 
df.select_dtypes(include='number').head()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
0,23,84,7,73,0,3,67
1,19,64,8,59,2,4,61
2,24,98,7,91,2,4,74
3,29,89,8,98,1,4,71
4,19,92,6,65,3,4,70

In [6]:
# Selecting rows - loc and iloc, loc uses labels, iloc uses integer positions


# iloc - by position 
df.iloc[0]  # first row

Hours_Studied                          23
Attendance                             84
Parental_Involvement                  Low
Access_to_Resources                  High
Extracurricular_Activities             No
Sleep_Hours                             7
Previous_Scores                        73
Motivation_Level                      Low
Internet_Access                       Yes
Tutoring_Sessions                       0
Family_Income                         Low
Teacher_Quality                    Medium
School_Type                        Public
Peer_Influence                   Positive
Physical_Activity                       3
Learning_Disabilities                  No
Parental_Education_Level      High School
Distance_from_Home                   Near
Gender                               Male
Exam_Score                             67
Name: 0, dtype: object

In [8]:
# First 5 rows , first 3 columns 
df.iloc[:5, :3]

   Hours_Studied  Attendance Parental_Involvement
0             23          84                  Low
1             19          64                  Low
2             24          98               Medium
3             29          89                  Low
4             19          92               Medium

In [9]:
# loc - by label

# First 5 rows, specific columns by name
df.loc[:4, ['Hours_Studied', 'Exam_Score', 'Gender']]

   Hours_Studied  Exam_Score  Gender
0             23          67    Male
1             19          61  Female
2             24          74    Male
3             29          71    Male
4             19          70  Female

In [10]:
# Filtering rows

# Students who scored above 70
high_scorers = df[df['Exam_Score'] > 70]
print(f"High Scorers: {len(high_scorers)} out of {len(df)}")

High Scorers: 1083 out of 6607

In [12]:
df['Exam_Score'] > 70

0       False
1       False
2        True
3        True
4       False
        ...
6602    False
6603    False
6604    False
6605    False
6606    False
Name: Exam_Score, Length: 6607, dtype: bool

In [14]:
high_scorers.head(10)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,Medium,Public,Positive,3,No,Postgraduate,Near,Male,71
9,23,98,Medium,Medium,Yes,8,71,Medium,Yes,0,High,High,Public,Positive,5,No,High School,Moderate,Male,72
11,17,97,Medium,High,Yes,6,87,Low,Yes,2,Low,High,Private,Neutral,2,No,High School,Near,Male,71
21,19,99,Medium,High,No,6,84,Medium,Yes,1,Medium,High,Public,Neutral,3,No,High School,Near,Male,72
27,22,83,High,High,Yes,6,94,Medium,Yes,0,High,Medium,Public,Neutral,2,No,College,Moderate,Male,71
55,26,88,Medium,High,Yes,5,79,Medium,Yes,1,Low,High,Private,Positive,4,No,College,Moderate,Male,72
57,18,94,Medium,Medium,Yes,6,87,High,Yes,1,Medium,Medium,Public,Positive,4,No,High School,Near,Male,71
64,25,98,Low,High,Yes,8,56,Medium,No,0,Medium,High,Private,Neutral,3,No,Postgraduate,Near,Male,71

In [15]:
# Multiple conditions
# Students who scored above 70 and studied more than 25 hours
top_students = df[(df['Exam_Score'] > 70) & (df['Hours_Studied'] > 25)]
print(f"Top Students: {len(top_students)} out of {len(df)}")

Top Students: 471 out of 6607

In [16]:
top_students.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
55,26,88,Medium,High,Yes,5,79,Medium,Yes,1,Low,High,Private,Positive,4,No,College,Moderate,Male,72
71,29,96,Medium,Low,Yes,7,72,Medium,Yes,1,Low,Medium,Public,Positive,3,No,High School,Moderate,Male,71
73,29,92,Low,Medium,No,4,91,Medium,Yes,2,Medium,Medium,Public,Negative,1,No,Postgraduate,Near,Female,72
82,29,78,High,High,Yes,4,93,Low,Yes,5,Medium,High,Public,Neutral,3,No,College,Near,Male,74

In [17]:
# isin() - Matching a List
# isin() allows you to check if values in a column are in a list of values
motivated = df[df['Motivation_Level'].isin(["High", "Medium"])]
print(f"Motivated Students: {len(motivated)} out of {len(df)}")

Motivated Students: 4670 out of 6607

In [19]:
motivated.head(10)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,Medium,Public,Positive,3,No,Postgraduate,Near,Male,71
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,High,High,Public,Negative,2,No,High School,Far,Male,66
8,17,94,Medium,High,No,6,80,High,Yes,0,Medium,Low,Private,Neutral,1,No,College,Near,Male,69
9,23,98,Medium,Medium,Yes,8,71,Medium,Yes,0,High,High,Public,Positive,5,No,High School,Moderate,Male,72
10,17,80,Low,High,No,8,88,Medium,No,4,Medium,High,Private,Neutral,4,No,College,Moderate,Male,68
13,9,82,Medium,Medium,Yes,8,72,Medium,Yes,2,Medium,Medium,Private,Positive,3,No,Postgraduate,Near,Male,66
14,10,78,Medium,High,Yes,8,74,Medium,Yes,1,Low,Medium,Private,Neutral,4,No,Postgraduate,Near,Male,65

In [20]:
# query() - The clean way
# query() - SQL - like filtering
result = df.query("Exam_Score > 70 and Hours_Studied > 25 and Gender == 'Female'")
print(f"Result: {len(result)} female students")

Result: 197 female students

In [21]:
result.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
73,29,92,Low,Medium,No,4,91,Medium,Yes,2,Medium,Medium,Public,Negative,1,No,Postgraduate,Near,Female,72
113,35,99,High,High,Yes,7,85,Low,Yes,2,Medium,High,Private,Neutral,2,No,Postgraduate,Near,Female,79
118,27,97,Low,High,Yes,8,81,Medium,Yes,0,High,Medium,Public,Positive,5,No,High School,Near,Female,73
122,28,89,Low,High,Yes,9,79,High,Yes,0,Low,Medium,Private,Positive,1,No,College,Moderate,Female,71
203,26,96,Medium,Medium,Yes,7,68,Medium,Yes,3,High,Medium,Private,Positive,3,No,College,Near,Female,74

In [22]:
# Sorting
# Sort by Exam_Score - highest first
df.sort_values('Exam_Score', ascending=False).head(10)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1525,27,98,Low,Medium,Yes,6,93,Low,No,5,High,High,Public,Positive,3,No,High School,Moderate,Female,101
94,18,89,High,Medium,Yes,4,73,Medium,Yes,3,High,Medium,Private,Positive,2,No,College,Near,Female,100
2425,23,83,High,High,Yes,4,89,Low,Yes,1,Medium,Medium,Public,Negative,3,No,High School,Far,Male,99
3579,14,90,High,High,Yes,8,86,Medium,Yes,4,Medium,Medium,Private,Negative,2,No,High School,Near,Female,99
6347,28,96,High,Low,Yes,4,98,High,Yes,1,High,High,Public,Positive,3,No,High School,Near,Male,98
6393,16,83,Low,Medium,Yes,8,92,Low,Yes,2,High,High,Public,Positive,4,No,Postgraduate,Near,Female,98
4192,28,90,Low,Medium,Yes,9,91,Medium,Yes,0,Medium,Medium,Public,Positive,2,No,College,Moderate,Female,98
529,15,83,Medium,Medium,No,7,97,Medium,Yes,2,Low,High,Private,Neutral,2,No,High School,Near,Female,97
919,21,74,High,Medium,No,6,94,Medium,Yes,1,Low,High,Public,Positive,1,No,High School,Near,Male,97
5966,25,99,Medium,Medium,Yes,7,77,Medium,Yes,0,High,High,Public,Neutral,3,No,High School,Near,Male,97

In [36]:
# Sort by Multiple Columns 
df.sort_values(['Gender', 'Exam_Score'], ascending=[True, False]).head(2700)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1525,27,98,Low,Medium,Yes,6,93,Low,No,5,High,High,Public,Positive,3,No,High School,Moderate,Female,101
94,18,89,High,Medium,Yes,4,73,Medium,Yes,3,High,Medium,Private,Positive,2,No,College,Near,Female,100
3579,14,90,High,High,Yes,8,86,Medium,Yes,4,Medium,Medium,Private,Negative,2,No,High School,Near,Female,99
4192,28,90,Low,Medium,Yes,9,91,Medium,Yes,0,Medium,Medium,Public,Positive,2,No,College,Moderate,Female,98
6393,16,83,Low,Medium,Yes,8,92,Low,Yes,2,High,High,Public,Positive,4,No,Postgraduate,Near,Female,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3801,10,69,Low,Medium,No,8,97,Medium,Yes,1,Medium,Medium,Private,Negative,3,No,High School,Near,Female,61
3812,15,65,High,Low,Yes,7,56,Medium,No,3,High,Medium,Private,Positive,3,Yes,High School,Near,Female,61
4111,15,61,High,Low,Yes,8,59,Medium,Yes,1,Medium,Medium,Public,Neutral,2,No,Postgraduate,Moderate,Female,61
4242,16,63,Medium,Low,No,9,92,Medium,Yes,0,Low,Medium,Private,Positive,3,No,College,Moderate,Female,61
4324,15,65,Medium,Medium,No,9,65,Medium,Yes,1,Low,Medium,Public,Neutral,2,No,College,Near,Female,61

In [37]:
#  Adding, Renaming, and Dropping Columns

# Add a new column: Study Efficiency = Exam Score / Hours Studied
df['Study_Efficiency'] = df['Exam_Score'] / df['Hours_Studied']
df[['Exam_Score', 'Hours_Studied', 'Study_Efficiency']].head(10)

   Exam_Score  Hours_Studied  Study_Efficiency
0          67             23          2.913043
1          61             19          3.210526
2          74             24          3.083333
3          71             29          2.448276
4          70             19          3.684211
5          71             19          3.736842
6          67             29          2.310345
7          66             25          2.640000
8          69             17          4.058824
9          72             23          3.130435

In [38]:
df.shape

(6607, 21)

In [40]:
# REnameing Columns
df = df.rename(columns={'Hours_Studied': 'Study_Hours', 'Exam_Score': 'Score'})
df.columns.tolist()

['Study_Hours',
 'Attendance',
 'Parental_Involvement',
 'Access_to_Resources',
 'Extracurricular_Activities',
 'Sleep_Hours',
 'Previous_Scores',
 'Motivation_Level',
 'Internet_Access',
 'Tutoring_Sessions',
 'Family_Income',
 'Teacher_Quality',
 'School_Type',
 'Peer_Influence',
 'Physical_Activity',
 'Learning_Disabilities',
 'Parental_Education_Level',
 'Distance_from_Home',
 'Gender',
 'Score',
 'Study_Efficiency']

In [41]:
# Drop columns
df = df.drop(columns=['Study_Efficiency'])
df.columns.tolist()

['Study_Hours',
 'Attendance',
 'Parental_Involvement',
 'Access_to_Resources',
 'Extracurricular_Activities',
 'Sleep_Hours',
 'Previous_Scores',
 'Motivation_Level',
 'Internet_Access',
 'Tutoring_Sessions',
 'Family_Income',
 'Teacher_Quality',
 'School_Type',
 'Peer_Influence',
 'Physical_Activity',
 'Learning_Disabilities',
 'Parental_Education_Level',
 'Distance_from_Home',
 'Gender',
 'Score']

In [42]:
df.shape

(6607, 20)

In [43]:
# Renameing back
df = df.rename(columns={'Study_Hours': 'Hours_Studied', 'Score': 'Exam_Score'})
df.columns.tolist()

['Hours_Studied',
 'Attendance',
 'Parental_Involvement',
 'Access_to_Resources',
 'Extracurricular_Activities',
 'Sleep_Hours',
 'Previous_Scores',
 'Motivation_Level',
 'Internet_Access',
 'Tutoring_Sessions',
 'Family_Income',
 'Teacher_Quality',
 'School_Type',
 'Peer_Influence',
 'Physical_Activity',
 'Learning_Disabilities',
 'Parental_Education_Level',
 'Distance_from_Home',
 'Gender',
 'Exam_Score']