In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/StudentPerformanceFactors.csv')

df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [2]:
# Detect some missing values
print(df.isnull().sum())

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

In [3]:
# See the actual rows
# where teach quality is null
df[df['Teacher_Quality'].isnull()]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
127,17,97,Medium,Medium,No,8,89,Medium,Yes,1,Low,NaN,Public,Neutral,4,No,High School,Far,Male,69
396,10,80,High,Medium,Yes,6,93,High,Yes,4,Medium,NaN,Public,Negative,3,No,College,Moderate,Female,67
457,14,86,Medium,Low,Yes,8,90,Medium,No,3,Medium,NaN,Public,Negative,3,Yes,Postgraduate,Near,Male,65
570,20,71,High,Medium,No,8,77,Medium,Yes,0,High,NaN,Private,Neutral,4,No,High School,Moderate,Male,66
593,22,82,High,Medium,Yes,7,71,Low,Yes,1,High,NaN,Private,Positive,3,No,High School,Near,Female,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6414,22,63,Low,Low,Yes,7,94,Medium,Yes,0,Medium,NaN,Public,Negative,3,Yes,High School,Far,Male,61
6427,29,75,Low,Medium,Yes,7,96,Low,Yes,2,Low,NaN,Public,Positive,3,No,High School,Moderate,Male,68
6461,12,89,Medium,High,Yes,8,78,Low,Yes,4,Low,NaN,Public,Neutral,5,No,Postgraduate,Near,Female,69
6579,9,84,Medium,Medium,No,6,74,Medium,Yes,5,High,NaN,Public,Neutral,2,No,High School,Near,Male,67
6596,17,92,Medium,Medium,No,7,66,Low,Yes,2,Low,NaN,Public,Negative,3,No,High School,Near,Male,66

In [4]:
# Null percentage per column
null_pct = (df.isnull().sum() / len(df) * 100).round(2)
print(null_pct[null_pct > 0])

Teacher_Quality             1.18
Parental_Education_Level    1.36
Distance_from_Home          1.01
dtype: float64

In [5]:
# Two approaches: **drop** the rows, or **fill** them.

# Droping rows with - dropna()

df_droped = df.dropna()
print(f"Before: {len(df)}, After: {len(df_droped)}")
print(f"Lost {len(df) - len(df_droped)} rows.")

Before: 6607, After: 6378
Lost 229 rows.

In [6]:
## Drop ONLY rows where specific columns are null
df_droped_specific = df.dropna(subset=['Teacher_Quality'])
print(f"Dropped only Teacher_Quality nulls: {len(df)} → {len(df_droped_specific)} rows")

Dropped only Teacher_Quality nulls: 6607 → 6529 rows

In [8]:
# Filling values -- fillna()

# Option 2: Fill nulls with a value
# For categorical columns → use MODE (most common value)
mode_value = df['Teacher_Quality'].mode()[0]
print(f"Most common Teacher_Quality: {mode_value}")

df_filled = df.copy()
df_filled['Teacher_Quality'] = df_filled['Teacher_Quality'].fillna(mode_value)
print(f"Nulls after fill: {df_filled['Teacher_Quality'].isnull().sum()}")

Most common Teacher_Quality: Medium
Nulls after fill: 0

In [9]:
# Fill all categorical nulls with their mode
for col in ['Teacher_Quality', 'Parental_Education_Level', 'Distance_from_Home']:
    df_filled[col] = df_filled[col].fillna(df_filled[col].mode()[0])
    
    
# Verify - no more nulls 
print(df_filled.isnull().sum().sum()," total nulls left after filling.")

0  total nulls left after filling.

In [10]:
# Handling Duplicates

# Check for duplicates in our dataset
print(f"Duplicates: {df.duplicated().sum()}")

Duplicates: 0

In [11]:
# Let's create some duplicates to practice
df_with_duplicates = pd.concat([df.head(100), df.head(20)], ignore_index=True)
print(f"Shape with duplicates: {df_with_duplicates.shape}")
print(f"Duplicates: {df_with_duplicates.duplicated().sum()}")

Shape with duplicates: (120, 20)
Duplicates: 20

In [12]:
df_with_duplicates.head(40)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,Medium,Public,Positive,3,No,Postgraduate,Near,Male,71
6,29,84,Medium,Low,Yes,7,68,Low,Yes,1,Low,Medium,Private,Neutral,2,No,High School,Moderate,Male,67
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,High,High,Public,Negative,2,No,High School,Far,Male,66
8,17,94,Medium,High,No,6,80,High,Yes,0,Medium,Low,Private,Neutral,1,No,College,Near,Male,69
9,23,98,Medium,Medium,Yes,8,71,Medium,Yes,0,High,High,Public,Positive,5,No,High School,Moderate,Male,72
10,17,80,Low,High,No,8,88,Medium,No,4,Medium,High,Private,Neutral,4,No,College,Moderate,Male,68
11,17,97,Medium,High,Yes,6,87,Low,Yes,2,Low,High,Private,Neutral,2,No,High School,Near,Male,71
12,21,83,Medium,Medium,Yes,8,97,Low,Yes,2,Medium,Medium,Public,Positive,4,No,High School,Near,Male,70
13,9,82,Medium,Medium,Yes,8,72,Medium,Yes,2,Medium,Medium,Private,Positive,3,No,Postgraduate,Near,Male,66
14,10,78,Medium,High,Yes,8,74,Medium,Yes,1,Low,Medium,Private,Neutral,4,No,Postgraduate,Near,Male,65
15,17,68,Medium,Medium,No,8,70,Medium,Yes,2,Medium,Medium,Private,Positive,4,No,High School,Near,Female,64
16,14,60,Medium,Low,Yes,10,65,Low,Yes,0,High,Medium,Private,Positive,3,No,College,Near,Male,60
17,22,70,Low,Medium,Yes,6,82,Medium,Yes,1,Low,High,Public,Neutral,3,No,High School,Near,Female,65
18,15,80,Medium,Medium,Yes,9,91,Low,Yes,3,Low,Medium,Public,Positive,2,No,College,Moderate,Female,67
19,12,75,Medium,High,Yes,7,58,Medium,Yes,3,Medium,Medium,Private,Positive,4,No,College,Near,Male,66
20,29,78,Medium,Medium,No,5,99,High,Yes,0,High,Medium,Public,Negative,1,No,High School,Moderate,Female,69
21,19,99,Medium,High,No,6,84,Medium,Yes,1,Medium,High,Public,Neutral,3,No,High School,Near,Male,72
22,20,74,Medium,High,No,8,89,Low,Yes,1,Medium,Medium,Public,Negative,2,No,College,Moderate,Female,66
23,11,78,High,Medium,Yes,8,100,High,Yes,1,Low,Medium,Public,Neutral,3,No,High School,Moderate,Male,66
24,17,65,Low,High,Yes,5,75,Medium,Yes,2,Low,Medium,Public,Positive,3,No,High School,Near,Female,63
25,21,62,High,Low,Yes,6,54,High,Yes,0,High,High,Public,Positive,3,No,Postgraduate,Far,Male,64
26,13,91,Low,Medium,No,6,90,Medium,Yes,1,High,Medium,Public,Negative,2,Yes,High School,Moderate,Female,65
27,22,83,High,High,Yes,6,94,Medium,Yes,0,High,Medium,Public,Neutral,2,No,College,Moderate,Male,71
28,16,90,Medium,Medium,No,4,58,Medium,Yes,1,Low,Medium,Public,Neutral,3,No,High School,Moderate,Female,66
29,18,66,High,High,No,4,51,Low,Yes,2,Low,Medium,Private,Neutral,2,No,College,Near,Male,64
30,16,83,Low,Medium,No,6,57,Medium,Yes,0,High,Low,Public,Positive,4,Yes,High School,Near,Female,63
31,31,70,Medium,High,Yes,7,66,Medium,Yes,1,High,Medium,Public,Negative,3,No,College,Near,Male,69
32,20,69,Medium,Medium,Yes,8,96,Medium,Yes,2,Medium,High,Public,Positive,3,No,High School,Near,Male,67
33,14,60,High,Medium,No,5,50,Medium,Yes,2,Medium,Medium,Public,Neutral,3,No,College,NaN,Female,61
34,25,65,High,Medium,No,5,90,Medium,Yes,2,Medium,Medium,Public,Positive,3,No,College,Moderate,Female,68
35,13,72,Low,Medium,No,6,93,Low,Yes,1,Low,Medium,Public,Negative,3,No,High School,Near,Male,61
36,21,65,Medium,Low,Yes,7,91,Low,Yes,2,Medium,High,Public,Positive,3,No,High School,Far,Female,64
37,8,99,Medium,Medium,No,9,54,Low,Yes,2,Low,Medium,Public,Neutral,5,No,Postgraduate,Near,Female,67
38,12,72,Low,Medium,Yes,8,84,Medium,Yes,1,Low,Medium,Public,Positive,5,No,High School,Near,Female,63
39,21,65,Low,Medium,Yes,6,98,Low,Yes,1,Medium,High,Public,Negative,4,No,High School,Near,Male,64

In [19]:
df_with_duplicates.duplicated().head(110)

0      False
1      False
2      False
3      False
4      False
       ...
105     True
106     True
107     True
108     True
109     True
Length: 110, dtype: bool

In [21]:
# Remove duplicates
df_clean = df_with_duplicates.drop_duplicates()
print(f"Before: {len(df_with_duplicates)}, After: {len(df_clean)}")
print(f"Removed {len(df_with_duplicates) - len(df_clean)} duplicate rows.")

Before: 120, After: 100
Removed 20 duplicate rows.

In [22]:
# Check duplicates on specific columns only
df_with_duplicates.duplicated(subset=['Hours_Studied', 'Exam_Score']).sum()

np.int64(38)

In [29]:
# Cleaning Text Data

# Create a messy DataFrame to practice
messy = pd.DataFrame({
    'Name': ['  Alice ', 'BOB', ' charlie', 'DIANA  ', 'Eve'],
    'City': ['new york', 'NEW YORK', 'New York ', ' new york', 'NEW YORK  '],
    'Score': ['85', '90', 'N/A', '78', '92']
})
messy

       Name        City Score
0    Alice     new york    85
1       BOB    NEW YORK    90
2   charlie   New York    N/A
3   DIANA      new york    78
4       Eve  NEW YORK      92

In [30]:
messy['Name'] = messy['Name'].str.strip().str.title()
messy

      Name        City Score
0    Alice    new york    85
1      Bob    NEW YORK    90
2  Charlie   New York    N/A
3    Diana    new york    78
4      Eve  NEW YORK      92

In [33]:
messy['City'] = messy['City'].str.strip().str.lower()
messy

      Name      City Score
0    Alice  new york    85
1      Bob  new york    90
2  Charlie  new york   N/A
3    Diana  new york    78
4      Eve  new york    92

In [34]:
# Replace 'N/A' string with actual NaN
messy['Score'] = messy['Score'].replace('N/A', np.nan)
messy

      Name      City Score
0    Alice  new york    85
1      Bob  new york    90
2  Charlie  new york   NaN
3    Diana  new york    78
4      Eve  new york    92

In [35]:
# Convert types with astype (when data is already clean)
messy['Score'] = messy['Score'].astype(float)
print(messy)
print(messy.dtypes)

      Name      City  Score
0    Alice  new york   85.0
1      Bob  new york   90.0
2  Charlie  new york    NaN
3    Diana  new york   78.0
4      Eve  new york   92.0
Name      object
City      object
Score    float64
dtype: object